.site-footer{
    background: var(--green-three);
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-top: 10rem;
}

.blocksectionfooter__section{
    max-width: calc(100% - 14vw);
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 4.8rem);
}

.blocksectionfooter__section img{
    width: 17rem;
}